include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include my_advika *.css
recursive-include my_advika *.csv
recursive-include my_advika *.html
recursive-include my_advika *.ico
recursive-include my_advika *.js
recursive-include my_advika *.json
recursive-include my_advika *.md
recursive-include my_advika *.png
recursive-include my_advika *.py
recursive-include my_advika *.svg
recursive-include my_advika *.txt
recursive-exclude my_advika *.pyc